/* styles.css */
@keyframes upcoming-namaz {
    0%   {font-size: 20px;}
    25%  {font-size: 16px;}
    50%  {font-size: 14px}
    75%  {font-size: 16px}
    100% {font-size: 20px;}
}
#upcoming-namaz {
    color: red;
    animation-name: upcoming-namaz;
    animation-duration: 4s;
    animation-iteration-count: 10;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    font-family: Verdana, sans-serif;
}
.calendar{
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: gray;
}
.calendar #gregorian-date{
    padding-left: 20%;
}
.container{
    height: auto;
    max-width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav .logo{
    width:100px;
    /*border-radius: 50%;*/
}
li{
    list-style: none;
}
.nav-links{
    display: flex;
}
.nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.nav-toggle{
    display: none;
}
.nav a:hover{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 5px ;
    font-size: 18px;
    transition: 0.5s;
}
.upcoming-namaz{
    height: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.different-namaz-timing-card,.zuhar-namaz-timings,.asr-namaz-timings,.faraz-namaz-card,.nafil-prayer-card, .makrooh-prayer-timing-card,.isha-namaz-timings{
    margin-top: 10%;
    height: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.zuhar-namaz-timings,.asr-namaz-timings{
    margin-top: 0%;
}
#namaz-timings p {
    font-size: 18px;
    margin: 5px 0;
}
table{
    width: 100%;
}
table, th, tr,td{
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    width: 20%;
    padding: 15px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #04AA6D;
    color: black;
  }
.nafil-prayer-card .makrooh-prayer-timing-card, .isha-namaz-timings th{
    width: 33.3%;
}

.head{
    background: #003d30;
    color: white;
}

p{
color: black;
}


@media (max-width: 768px) {
    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav ul.show {
        display: flex;
    }
    .faraz-namaz-card,.nafil-prayer-card {
        width: 90%; /* Adjust faraz-namaz-card width for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    #namaz-timings p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    th, td {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media (max-width: 500px) {
    .faraz-namaz-card{
        width: 100%; /* Adjust faraz-namaz-card width for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
    }

    .nafil-prayer-card{
        width: 100%;
        padding: 10px; /* Adjust padding for very small screens */
    }
    .upcoming-namaz{
        width: 100%;
        padding: 10px; /* Adjust padding for very small screens */
    }
    .makrooh-prayer-timing-card{
        width: 100%;
        padding: 10px; /* Adjust padding for very small screens */
    }
    .different-namaz-timing-card{
        width: 100%;
        padding: 10px; /* Adjust padding for very small screens */
    }
    .upcoming-namaz p{
        font-size: 14px; /* Adjust font size for very small screens */
    }
    .zuhar-namaz-timings,.asr-namaz-timings,.isha-namaz-timings{
        font-size: 14px;
    }
    #makrooh-prayer-timings p {
        font-size: 14px; /* Adjust font size for very small screens */
    }
    #faraz-namaz-timings p {
        font-size: 14px; /* Adjust font size for very small screens */
    }
    #nafil-namaz-timings p {
        font-size: 14px; /* Adjust font size for very small screens */
    }
    th, td {
        padding: 8px; /* Adjust padding for very small screens */
    }
    .nav{
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .nav img{
        width: 5%;
    }
    li{
        padding: 10px;
    }
    .nav-links{
        width: 95%;
        margin-top: 0;
        display: block;
        padding: 15px;
        background-color: white;
    }
    .nav a{
        color: black;
    }
    .nav-toggle {
        margin: 10px;
        display: block;
        color: black;
        padding: 10px;
        background-color: white;
    }
    .calendar #islamic-date{
        text-decoration-style: solid;
        padding-left: 3%;
    }
    /*.calendar #gregorian-date{*/
    /*    padding-left: 15%;*/
    /*}*/
}
